html, body {
    background-color: #1a1a1a;
    overflow: hidden;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {	
    background: transparent;
    box-shadow: 0px 0px 0px 100000vh #1a1a1a;
	background-size: 100%;
	background-repeat: no-repeat;
    border-radius: 35px;
}
::-webkit-scrollbar-track {
    background:  linear-gradient(0deg, rgb(255, 34, 34) 0%, rgb(255, 110, 53) 50%, rgb(255, 230, 0) 100%);
}



.flexContainer {
    display: flex;
    align-items: center;
    padding-top: 25vh;
    padding-left: 25vh;
    padding-right: 25vh;
    padding-bottom: 10vh;
    border-radius: 35px;

}
.swiper-wrapper {
    width: 600px !important;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
    border-radius: 35px;
}

.swiper-slide {
    display: flex;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: #e4e4e4;
    border-radius: 35px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: #232323;
    min-width: 280px;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.time {
    margin: 0;
    margin-top: 10px;
    font-weight: 400;
    
}
#colorButton {
    background-color: #232323;
    box-shadow: 7.5px 7.5px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    left: 2.5vh;
    top: 92.5vh;
    height: 5vh;
    width: 5vh;
    z-index: 13;
    border: 0;
    border-radius: 100vh;
    cursor: pointer;
}

#colorButton img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3vh;
    width: 3vh;
}
hr {
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(1, rgb(255,63,123)), color-stop(0.1, rgb(94,40,199)));
    padding: 2px;
    border: none;
}
.title {
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #e4e4e4;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    z-index: 11;
}
.titleSmall {
    font-size: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #e4e4e4;
    z-index: 11;
    margin-bottom: 10px; 
}

.content {
    color: #e4e4e4;
    font-size: 15px;
    font-family: 'Raleway';
    justify-content: center;
}

@keyframes flicker {
    0%, 40%, 80%{
        background-color: black;
    }
    20%, 60%, 100%{
        background-color: white;
    }
}

#lightMode {
    display: none;
    z-index: 11;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    -webkit-animation: flicker .1s infinite;
    -ms-animation: flicker .5s infinite;
    -o-animation: flicker .5s infinite;
    animation: flicker .5s infinite;
}
#getLink {
    background: linear-gradient(90deg, rgba(52,153,255,1) 0%, rgba(58,57,133,1) 100%);
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    border-radius: 35px;
    padding: 10px 25px;
    text-decoration: none;
    position: absolute;
    bottom: -30px;
    z-index: 3;
    font-size: 20px;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    opacity: 0;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.swiper-slide .circle {
    position: absolute;
    top: 25%;
    left: 90%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transition: 0.4s;
    background: linear-gradient(90deg, rgba(52,153,255,1) 0%, rgba(58,57,133,1) 100%);
    transform-style: preserve-3d;
    z-index: 10;
    transform: translate3d(-50%,-50%,50px);
}

.swiper-slide:hover #getLink {
    bottom: 30px;
    opacity: 1;
}

.swiper-slide:hover .circle {
    width: 700px;
    height: 700px;
    top: 0%;
}

.schedule {
    color: #e4e4e4;
    border-radius: 35px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background-color: #232323;
    display: flex;
    padding: 20px;
    width: 1100px;
    height: 500px;
    overflow: hidden;

}
.scheduleWrapper {
    margin-left: 20vh;
    margin-right: 20vh;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 75px;
}

#smile {
    border: 0;
    background: none;
    font-family: 'Raleway';
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.driveLink {
    color: #e4e4e4;
    font-weight: 700;
    text-decoration: none;
    background: #e4e4e4;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.driveLink:hover {
    animation-name: gradient;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    transition: 0.7s !important;
}
@keyframes gradient {
    0% {
        background: #e4e4e4;
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    100% {
        background: linear-gradient(90deg, rgba(255,63,123,1) 0%, rgba(98,40,199,1) 100%);
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
td a {
    color: #e4e4e4;
    text-decoration: none;
}

.attendance {
    align-items: center;
    align-content: center;
    justify-content: center;
    display: none;
    padding: 50px;
    background-color: #232323;
}

iframe {
    margin: 0 auto;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: block;
    width: 70vw;
    height: 80vh;
    background-color: #232323;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
}

body .docs-gm {
    background-color: #232323 !important;
}

.quote-text {
    font-size: 30px;
    text-align: center;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    color: #e4e4e4;
    padding-left: 200px;
    padding-right: 200px;
    margin: 100px;
}

.zoom:hover {
    animation-name: zoomAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.fld:hover {
    animation-name: fldAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.rec:hover {
    animation-name: recAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.zoom:hover a {
    animation-name: zoomAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.fld:hover a {
    animation-name: fldAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.rec:hover a {
    animation-name: recAnim;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes zoomAnim {
    0% {
        background: #232323;
    }
    100% {
        background: #93c47d;
        color: #232323;
        font-weight: 700;
    }
}
@keyframes fldAnim {
    0% {
        background: #232323;
    }
    100% {
        background: #ffd966;
        color: #232323;
        font-weight: 700;
    }
}
@keyframes recAnim {
    0% {
        background: #232323;
    }
    100% {
        background: #dd7e6b;
        color: #232323;
        font-weight: 700;
    }
}

.votwWrapper {
    margin: 150px auto;
    margin-top: 100px !important;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: block;
    width: 1280px;
    height: 720px;

}
.plyr video {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 35px !important;
}
.plyr__video-wrapper {
    border-radius: 35px !important;
}
.plyr--video .plyr__controls {
    border-radius: 0px 0px 35px 35px !important;
    padding: 50px 20px 20px !important;
}
.notif {
    position: fixed;
    background-color: #232323;
    border-radius: 35px;
    width: 200px;
    height: 300px;
    padding: 30px;
    right: 10px;
    bottom: 20px;
    z-index: 10;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;
    margin: 0 auto;
    transform: scale(2.5);
}
.loaderWrapper {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #1a1a1a;
    z-index: 11;

}
.lds-ripple {
    top: 50%;
    z-index: 100;
    margin: 0 auto;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #e4e4e4;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
.candle {
    width: 300px;
    height: 300px;
    margin: 0px auto;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: block;
    position: relative;
    
}